body {
    background-color: darkgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #131313;
}


.resultData{
    padding: 15px;
    margin: 10px auto;
     width: 95%;
     height: 75px;
     overflow: scroll;
     background-color: lightgray ;
}

.syncAsync{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.syncAsync>div{
    width: 100%;
    padding: 0 15px;
}