.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column > h3{
    padding: 35px 0 15px;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column h3 img{
    max-width: 56px;
    height: fit-content;
    opacity: 0.6;
    margin-right: 5px;
    padding: 7px;
}
.column .form{
    padding: 0 0 15px;
    font-size: 17px;
    width: 75%;
    border-radius: 7px;
    border: none;
    padding: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column .form > p{
    font-size: 17px;
    padding: 11px;
    display: flex;
    justify-content: center;
    font-size: large;
}
.column .form > p > span{
    padding: 0 5px;
    font-size: 17px;
    font-size: large;
    font-weight: bold;
}
#match-list{
    width: 100%;
}
.card{
    background-color: #333;
    border-radius: 3px;
    margin: 0 0 5px;
    padding: 10px;
    color: lightgray
}
.card > h3{
    color: antiquewhite;
    font-size: x-large;
}
.card > h4{
    font-size: large;
}
.card > h4 > span{
    color: whitesmoke;
    margin: 0 5px;
    font-size: larger;
}